<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.gov.health.covidsafe">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="au.gov.health.covidsafe.TracerApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme.DayNight"
        android:networkSecurityConfig="@xml/network_security_config">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="au.gov.health.covidsafe.SplashActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="au.gov.health.covidsafe.ui.onboarding.OnboardingActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name="au.gov.health.covidsafe.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="au.gov.health.covidsafe.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="au.gov.health.covidsafe.SelfIsolationDoneActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="au.gov.health.covidsafe.boot.StartOnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name="au.gov.health.covidsafe.services.BluetoothMonitoringService"
            android:foregroundServiceType="location" />

        <service android:name="au.gov.health.covidsafe.services.SensorMonitoringService" />

        <activity
            android:name="au.gov.health.covidsafe.PeekActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.DayNightDebug"/>

        <activity
            android:name="au.gov.health.covidsafe.PlotActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTheme.DayNightDebug" />

        <receiver android:name="au.gov.health.covidsafe.receivers.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="au.gov.health.covidsafe.receivers.PrivacyCleanerReceiver" />

    </application>

</manifest>
